* {
    background-color: rgb(0, 0, 0,);
    margin: 0px;
    padding: 0px;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* Styling for main Nav container */
nav {
    background-color: rgb(159, 197, 248);
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Styling for side divs */
.side {
    flex: 1;
}

/* Styling for DojoWeather logo text */
.dojoweather {
    flex: 2;
    font-size: 3rem;
    color: white;
    font-family: 'Freckle Face', cursive;
}

/* Styling for city links */
ul {
    flex: 2;
    list-style: none;
    display: flex;
}

/* Styling for city links */
ul li {
    margin: 5vw;
    color: white;
    font-size: 2rem;
}

/* Styling for main container */
main {
    display: flex;
}

/* Styling for main content container */
.mainContent {
    flex: 4;
}

/* Styling for upper section of the main content */
.upper {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    min-height: 150px;
    align-items: center;
}

/* Styling for temperature selector */
.selector {
    align-items: flex-end;
    font-size: 1.1rem;
}

/* Styling for current city text */
.city {
    font-size: 2.5rem;
}

/* Styling for div containing all weather on dates div */
.centerSection {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* Styling for individual divs containing weather information */
.weatherBlock {
    background-color: rgb(238, 238, 238);
    min-height: 100%;
    width: 90%;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

/* Styling for weather images */
.weatherImg {
    border-radius: 50%;
    margin-top: 20px;
}

/* Styling for text stating daily weather */
.some {
    margin-top: 20px;
    font-size: 1.5rem;
}

/* Styling for div containing temperature texts */
.temperatures {
    width: 100%;
    align-items: center;
    display: flex;
    margin: 30px 0;
}

/* Styling for high temperature texts */
.highs {
    width: 100%;
    color:rgb(205, 44, 47)
}

/* Styling for low temperature texts */
.lows {
    width: 100%;
    color: rgb(48, 123, 225);
}

/* Styling for cookie containing div */
#cookies {
    position: fixed;
    bottom: 0px;
    border: 3px solid black;
    background-color: rgb(190, 190, 190);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 67%;
    min-height: 100px;
}

/* Styling for cookie image */
#cookies img {
    width: 80px;
    margin: 30px;
    display: inline-block;
}

/* Styling for div inside of cookies div */
#cookies div {
    display: inline-block;
    font-size: 1.3rem;
}

/* Styling for cookies button */
#cookies button {
    margin: 20px;
    width: 100px;
    background-color: rgb(161, 198, 246);
    border: 2px solid black;
    box-shadow: 3px 3px;
}

/* Styling for  h3 tag inside of cookie block */
h3 {
    font-size: 2rem;
}